.location-container {
    margin-top: 6.5rem;
}

.location-content {
    background-color: #ababab;
    position: relative;
}

.location-content img {
    height: 35rem;
    object-fit: cover;
    width: 100%;
}

.location-text {
    background-color: white;
    left: 8.5rem;
    padding: 2rem;
    position: absolute;
    top: 35%;
}

.location-text span {
    color: #000;
    display: block;
    text-align: left;
}

.location-text span:nth-child(1) {
    font-size: 2.4rem;
    font-weight: 600;
}

.location-text span:nth-child(1):after {
    background: #000;
    color: #000;
    content: "";
    display: inline-flex;
    height: .1rem;
    margin-bottom: 0;
    margin-left: .5rem;
    width: 1.5rem;
}

.location-text span:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 40em) {
    .location-container {
        margin-top: 2rem;
    }

    .location-content img {
        height: auto;
    }

    .location-text {
        left: 0%;
        margin: 1.5rem;
        padding: 1.5rem 2rem;
        top: 50%;
        transform: translate(0%, -50%);
        width: 65%;
    }

    .location-text span[data-v-b3edc2a7]:nth-child(1) {
        font-size: 1.6rem;
    }

    .location-text span[data-v-b3edc2a7]:nth-child(2) {
        font-size: 1.4rem;
    }
}